name: Type Check Distribution

on:
    pull_request: ~
    push:
        branches:
            - main

jobs:
    typecheck-dist:
        name: Check ${{ matrix.package }} distributed types
        runs-on: ubuntu-latest
        strategy:
            matrix:
                package: [get-db, vite-plugin-db]
        steps:
            - name: Harden the runner (Audit all outbound calls)
              uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
              with:
                  egress-policy: audit

            - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
            - uses: ./.github/actions/prepare

            - name: Build ${{ matrix.package }} package and dependencies
              # build the package and all its dependencies
              run: pnpm --filter ${{ matrix.package }}... build

            - name: Check types with @arethetypeswrong/cli
              run: pnpx @arethetypeswrong/cli --pack packages/${{ matrix.package }} --profile esm-only
